<p-panel header="Numeric Pipes" class="p-1">
  <p>Pipes included in Angular - Usually in common module</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Net sales" subheader="Present year">
      {{ (totalSells + 1235) | number:'1.2-2' }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Gross sales" subheader="Present year">
      {{ totalSells | currency:'HNL':'symbol-narrow':'1.6-6' }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Percentage profit" subheader="Present year">
      {{ percent | percent:'1.2-2' }}
    </p-card>
  </div>
</div>